<mat-toolbar style="background-color:#383b3b"  class="nav"> 
    <div class="menu">
    
    <span class="icon"> <img src="assets\ico_dashboard.svg" alt="" > &nbsp;DashBoard</span>
    <span class="icon" (click)="getUsers()"> <img src="assets\ico_users.svg" alt="" > &nbsp;Users</span>
    <span class="icon"> <img src="assets\ico_sessionmanager.svg" alt="" > &nbsp;Session Manager</span>
    </div>

    <div class="menu2">
        <span class="icon"> <img src="assets\ico_notification.svg" alt=""></span>
        <span class="icon"> <img src="assets\ico_user.svg" alt=""> &nbsp;Sambasiva</span>
        <span class="icon"> <img src="assets\ico_downarrow.svg" alt=""></span>
    </div>
  </mat-toolbar> 